body,html {
	height:100%;
}
.margin-top {
	margin-top: 0px;
}

.content {
	height: 100%;
}
footer {
	background-color: #2f2f2f; /* Black Gray */
	color: white;
	height: 8%;
}



#video{
	background-color: red;
	height: 100%;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
#map_box{
	margin-left: 0%;
	margin-top: 10px;
	width: 200px;
	height: 200px;
	border: 5px solid #000;
	background-color: white;
	

}

#assistance_box{
	margin-right: 0px;
	margin-top: 10px;
	width: 200px;
	height: 200px;
	border: 5px solid #000;
	background-color: white;
}

#map {
	height: 300px;
	width: 100%;
}
