body,html {
	height:93%;
}
.margin-top {
	margin-top: 50px;
}
.content {
	height: 100%;	
}
footer {
	background-color: #2f2f2f; /* Black Gray */
	color: white;
	height: 8%;
}

#map {
	height: 300px;
	width: 100%;
}
@import "compass/css3";

@include keyframes(bounce) {
0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
40% {
    @include transform(translateY(-30px));
  }
60% {
    @include transform(translateY(-15px));
  }
}


body {
  background: black;
}

.paribas {
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  background-image: "../resources/paribaslogo.png";
  background-size: contain;
}

.bounce {
  @include animation(bounce 2s infinite);
}
