[submodule "openface"]
	path = openface
	url = git@github.com:cmusatyalab/openface.git
[submodule "kairos-face-sdk-python"]
	path = kairos-face-sdk-python
	url = git@github.com:ffmmjj/kairos-face-sdk-python.git
