appdirs==1.4.3
click==6.7
cycler==0.10.0
decorator==4.0.11
distro==1.0.4
dlib==19.4.0
Flask==0.12.1
Flask-SocketIO==2.8.6
functools32==3.2.3.post2
gevent==1.2.1
greenlet==0.4.12
itsdangerous==0.24
Jinja2==2.9.6
kairos==0.10.1
kairos-face-recognition-lib==0.1.0
MarkupSafe==1.0
matplotlib==2.0.0
MonthDelta==1.0b0
networkx==1.11
numpy==1.12.1
olefile==0.44
openface==0.2.1
packaging==16.8
pandas==0.19.2
Pillow==4.1.0
pyparsing==2.2.0
python-dateutil==2.6.0
python-engineio==1.4.0
python-socketio==1.7.4
pytz==2017.2
PyWavelets==0.5.2
requests==2.13.0
scikit-image==0.13.0
scikit-learn==0.18.1
scipy==0.19.0
six==1.10.0
subprocess32==3.2.7
Werkzeug==0.12.1
