body,html {
	height:100%;
}
.margin-top {
	margin-top: 0px;
}

.content {
	height: 100%;
}
footer {
	background-color: #2f2f2f; /* Black Gray */
	color: white;
	height: 8%;
}


#video{
	background-color: red;
	height: 100%;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

#map_box{
	margin-left: 0%;
	margin-top: 10px;
	width: 300px;
	height: 300px;
	background-color: white;

}

#assistance_box{
	right: 5%;
	width: 50%;
	height: 50%;
}

#map {
	height: 300px;
	width: 100%;
}
